{% extends 'admin_base.html' %}

{% block navbar %}{% endblock %}

{% block app_content %}
<script>
    function onSubmitCallback(token) {}
</script>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.password.label }}<br/>
        {{ form.password(size=32) }}<br/>
        {% if config.USE_RECAPTCHA_FOR_ADMIN %}{{ form.recaptcha }} {% endif %}
        <br/>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}
