{% macro generate_form(form) %}

<form action="" method="post" novalidate>
{% for field in form.data%}
    {% if field != 'csrf_token' %}
        {% if form[field].type == 'BooleanField'%}
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <div class="form-check">
                    {{ form[field](class_="form-check-input") }}<label class="form-check-label"  for="{{field}}">{{ form[field].label }}</label><br/>
                </div>
            </div>
        </div>
        {% elif form[field].type == 'SubmitField' %}
        <div class="form-group row">
            <div class="col-sm-5">{{ form[field](class_="btn btn-primary") }}</div><br/>
        </div>
        {% else %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{field}}">{{ form[field].label }}</label>
            <div class="col-sm-5">{{ form[field](class_="form-control") }}</div><br/>
        </div>
        {% endif%}
    {% endif %}
</form>
{% endfor %}
{% endmacro %}
